.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: background-color .2s, box-shadow .2s;
    z-index: 8;
}

.header--fixed {
    background-color: white;
    box-shadow: 0px 0px 8px -4px black;
}

.header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    transition: padding-top .2s, padding-bottom .2s;
}

.header--fixed .header__container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 1rem;
    padding: 0;
    list-style-type: none;
}

.header__li {
    margin: .5rem 1rem;
}

@media (max-width: 50rem) {
    .header__nav {
        display: none;
    }
}