.footer {
    background-color: var(--c-text);
    color: var(--bg-base);
}

.footer__container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__description {
    margin: 1rem 0 2rem;
    max-width: 20rem;
    text-align: center;
    font-size: large;
}

.footer__title {
    margin: 2rem 0 0;
}

.footer .logo {
    color: var(--bg-base);
}

.footer__copy {
    background-color: var(--c-base);
    padding: 1rem 0;
    font-size: large;
    color: var(--bg-base);
    font-weight: 500;
    text-align: center;
}

.social {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.social__name {
    margin-right: 1rem;
    font-weight: 600;
}

@media (max-width: 50rem) {
    .social__item {
        margin: .5rem;
    }
}