.articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    margin: 2rem 0 4rem;
    padding: 0;
    list-style-type: none;
}

.article {
    padding: 2rem;
    background: white;
    box-shadow: 0px 0px 5px -3px black;
    border-radius: 5px;
}

.article__title {
    font-size: x-large;
    margin: 1rem 0;
    line-height: 1.2;
}

.article__description {
    font-size: smaller;
    margin: 1rem 0 2rem;
    color: var(--c-description);
}

.article__image {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 50rem) {
    .article {
        padding: 1rem;
    }

    .articles {
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    }
}